*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e6e5e5;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    height: 100%;
    width: 100%;
    background-color: #fff;
}

.container{
    display: flex;
    flex-direction: column;
}

.container input{
    text-align: left;
    padding-inline: 40px;
    font-size: 18px;
    border-radius: 4px;
}